<style>
  form {
    padding-bottom: 20px;
  }
</style>

<h3>Edit this Pet</h3>
<button class="btn btn-dark btn-sm text-light" [routerLink]="['/pets']">Back</button>
<form class="col-6 mt-10px">
  <div class="form-group">
    <label for="name" class="form-text">Pet Name</label>
    <small *ngIf="name.dirty && name.errors.required" class="form-text text-danger">name is required</small>
    <small *ngIf="name.dirty && name.touched && name.errors.minlength" class="form-text text-danger">name's gotta be at
      least 3 chars</small>
    <input type="text" name="name" class="form-control" [(ngModel)]="editedPet.name" #name="ngModel" minlength="3"
      required>
  </div>
  <div class="form-group">
    <label for="animalType" class="form-text">Pet type</label>
    <small *ngIf="animalType.dirty && animalType.errors && animalType.errors.required"
      class="form-text text-danger">Type is required</small>
    <small *ngIf="animalType.dirty && animalType.errors && animalType.touched && animalType.errors.minlength"
      class="form-text text-danger">Type's gotta be at least 3 chars</small>
    <input type="text" name="animalType" class="form-control" [(ngModel)]="editedPet.animalType" #animalType="ngModel"
      minlength="3" required>
  </div>
  <div class="form-group">
    <label for="description" class="form-text">Pet description</label>
    <small *ngIf="description.dirty && description.errors && description.errors.required"
      class="form-text text-danger">description is required</small>
    <small *ngIf="description.dirty && description.errors && description.touched && description.errors.minlength"
      class="form-text text-danger">description's gotta be at least 3 chars</small>
    <textarea type="text" name="description" class="form-control" [(ngModel)]="editedPet.description"
      #description="ngModel" minlength="3" required></textarea>
    </div>
  <p>Skills:</p>
  <div>
    <div *ngFor="let skill of pet.skills; let i = index"  class="form-group form-inline">
      <label for="skill{{i}}" class="form-text col-3">Skill {{i+1}}</label>
      <input
        type="text" name="skill{{i}}" class="form-control col"
        [(ngModel)]="editedPet.skills[i]"
      >
      <button class="btn btn-sm btn-danger" (click)="deleteSkill(i)">Delete</button>
    </div>
    <div class="form-group form-inline">
      <label for="newSkill" class="form-text col-3">Add Skill</label>
      <input
        type="text" name="newSkill" class="form-control col"
        [(ngModel)]="newSkill"
      >
      <button (click)="addSkill()" class="btn btn-secondary">Add</button>
    </div>
  </div>
  <button class="btn btn-success" (click)="editPet()">Save Changes</button> &nbsp;
  <button class="btn btn-danger" (click)="cancelForm()">Cancel</button>
</form>
