<style>
  form {
    padding-bottom: 20px;
  }
</style>

<h3>Edit this Pet</h3>
<button class="btn btn-dark btn-sm text-light" [routerLink]="['/pets']">Back</button>
<form class="col-6 mt-10px">
  <div class="form-group">
    <label for="name" class="form-text">Pet Name</label>
    <small *ngIf="name.dirty && name.errors.required" class="form-text text-danger">name is required</small>
    <small *ngIf="name.dirty && name.touched && name.errors.minlength" class="form-text text-danger">name's gotta be at least 3 chars</small>
    <input 
      type="text" name="name" class="form-control"
      [(ngModel)]="editedPet.name" 
      #name="ngModel" 
      minlength="3"
      required
    >
    </div>
  <div class="form-group">
    <label for="petType" class="form-text">Pet type</label>
    <small *ngIf="petType.dirty && petType.errors && petType.errors.required" class="form-text text-danger">Type is required</small>
    <small *ngIf="petType.dirty && petType.errors && petType.touched && petType.errors.minlength" class="form-text text-danger">Type's gotta be at least 3 chars</small>
    <input 
      type="text" name="petType" class="form-control"
      [(ngModel)]="editedPet.petType" 
      #petType="ngModel" 
      minlength="3"
      required
    >
    </div>
  <div class="form-group">
    <label for="description" class="form-text">Pet description</label>
    <small *ngIf="description.dirty && description.errors && description.errors.required" class="form-text text-danger">description is required</small>
    <small *ngIf="description.dirty && description.errors && description.touched && description.errors.minlength" class="form-text text-danger">description's gotta be at least 3 chars</small>
    <input 
      type="text" name="description" class="form-control"
      [(ngModel)]="editedPet.description" 
      #description="ngModel" 
      minlength="3"
      required
    >
    </div>
  <u><p>Skills:</p></u>
  <div class="form-group form-inline">
    <label for="skill1" class="form-text col-3">Skill 1</label>
    <input 
      type="text" name="skill1" class="form-control col"
      [(ngModel)]="editedPet.skill1" 
      #skill1="ngModel" 
    >
    </div>
  <div class="form-group form-inline">
    <label for="skill2" class="form-text col-3">Skill 2</label>
    <input 
      type="text" name="skill2" class="form-control col"
      [(ngModel)]="editedPet.skill2" 
      #skill2="ngModel" 
    >
    </div>
  <div class="form-group form-inline">
    <label for="skill3" class="form-text col-3">Skill 3</label>
    <input 
      type="text" name="skill3" class="form-control col"
      [(ngModel)]="editedPet.skill3" 
      #skill3="ngModel" 
    >
    </div>
  
  <button class="btn btn-success" (click)="editPet()">Save Changes</button> &nbsp;
  <button class="btn btn-danger" (click)="cancelForm()">Cancel</button>
</form>